<!-- article_detail.html -->
{% extends 'index.html' %}

{% block content %}
<div class="row">
    <div class="col">
        <img src="{{ article.image.url }}" class="img-fluid" alt="{{ article.title }}">
        <div class="card-img-overlay">
            <h3 class="card-title" style="color: white; text-align: center; background-color: green;">{{ article.title }}</h3>
        </div>
    </div>
    <div class="col" >{{ article.text }} </div>
</div>
<div class="container mt-5">
    <hr>

    <h2>Comments</h2>
    {% for comment in comments %}
    <div class="comment mb-3">
        <h5>{{ comment.name }}</h5>
        <p>{{ comment.text }}</p> 
        <p class="text-muted">{{ comment.created_on }}</p>
    </div>
    {% empty %}
    <p>No comments yet.</p>
    {% endfor %}

    <hr>

    <h2>Add a comment</h2>
    <form method="post">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit" class="btn btn-primary">Comment</button> <a href="/" class="btn btn-success">Back</a>
    </form>
</div>
{% endblock content %}
