{% extends 'index.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        {% for product in products %}
            <div class="col-md-4">
                <a href="{% url 'article_detail' product.pk %}">
                    <img src="{{ product.image.url }}" class="img-thumbnail" alt="{{ product.title }}">
                </a>
            </div>
        {% endfor %}
    </div>
</div>
<br><br>
<div class="container">
    <h1 class="text-center">An important quote</h1>
<blockquote class="blockquote text-center">
    <p class="mb-0">"Computers are like air conditioning — they work great until you open Windows"</p>
  </blockquote>
</div>
<br><br>
{% endblock content %}
